<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315489372903-odb2ufvm8v7e2h9ibv0cuimoe1241ppn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315489372903-odb2ufvm8v7e2h9ibv0cuimoe1241ppn</string>
	<key>API_KEY</key>
	<string>AIzaSyBMlvCit4uKgAbyaQ351AJ7adZjGNLVgKw</string>
	<key>GCM_SENDER_ID</key>
	<string>315489372903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase2</string>
	<key>PROJECT_ID</key>
	<string>exercise2-5f0ea</string>
	<key>STORAGE_BUCKET</key>
	<string>exercise2-5f0ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315489372903:ios:4ad586d4fd04e6e6947042</string>
</dict>
</plist>